<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="3"
          android:versionName="1.0.1-SNAPSHOT"
          package="org.opendatakit.smsbridge">

    <uses-sdk android:minSdkVersion="14"
              android:targetSdkVersion="18"/>

    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
            android:label="@string/app_title"
            android:icon="@drawable/ic_launcher">

        <activity android:name=".activity.WelcomeActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".activity.SMSDispatcherActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="org.opendatakit.smsbridge.activity.SMSDispatcherActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>